<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css">
    
    
</head>
<body>
    
    <div class="menu">

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
        
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="containerMenu">

                <div class="logo">
                    <img src="~/imagens/I9.png" height="65px" alt="">
                </div>
                               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">PÁGINA INICIAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreNos">SOBRE NÓS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Produtos">PRODUTOS</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Servicos">SERVIÇOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                            asp-action="Orcamento">ORÇAMENTOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
                   
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - I9 Tecnologia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
        </div>
    </footer>
    <!--CHAMADA DE BOOTSTRAP E JAVASCRIP-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
