<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <p>Sua solicitação de orçamento foi enviada à equipe da I9, responderemos o mais breve possível.</p>
    </body>
</html>
