<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="~/css/estilo.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <body>
        

        <div class="boasvindas text-center">
            <h4 class="display-4">Seja Bem vindo ao site da I9!</h4>
            <p>A sua empresa de assistência técnica e importação.</p>
        </div>

       

    </body>
    
</html>
