<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
 <!--Incluir ref bootstrap e Javascript-->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<header>
<h1>Produtos</h1>

</header>
<body>

    <div class="galeriaProdutos">
    <img src="~/imagens/iphone.jpg">
    <h3>Iphones</h3>
    

    <img src="~/imagens/USB.jpg" width="200px">
    <h3>Cabo Usb</h3>

    <img src="~/imagens/conectores.jpg" width="200px">
    <h3>Conectores de Várias marcas e modelos</h3>

    
    <img src="~/imagens/adaptusb.jpg" width="200px">
    <h3>Adaptadores USB</h3>
    </div>

</body>
<footer>


</footer>
</html>