<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Serviços</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
    </head>
    <body>
        <div>
            <h1 class="display-4">Serviços</h1>
            <p>
                <ul>
                    <li>Assistência técnica de celulares, notebooks, desktops e videogames;</li>
                    <li>Reparação de placa de circuito;</li>
                    <li>Reparação e troca de tela danificada;</li>
                    <li>Instalação de película protetora.</li>
                </ul>

            </p>
        </div>
    </body>
</html>


