@{
    ViewData["Title"] = "SobreNos";
}

<div>
    <h1>Sobre Nós</h1>
    <p>
        <p></p>A I9 nasceu para oferecer um atendimento focado em oferecer assistência técnica autorizada para manter a integridade e o máximo das característica originais dos dispositivo de alta tecnologia. Além da assistência, realizamos importação de celulares e acessórios.</p>

        <h4>Valores</h4>
        <ul>
            <li>Respeito ao cliente</li>
            <li>Ética</li>
            <li>Confiança</li>
            <li>Inovação</li>
        </ul>

    </p>
</div>